.Applied-Theme-Ambience {
  --accent: #3e82ff;
  --accent35: rgba(62, 130, 255, 0.35);
  --accent2: rgba(62, 130, 255, 0.2);
  --border: #162123;
  --foreground: white;
  --background-primary: rgba(19, 29, 30, 1);
  --background-secondary: rgba(22, 33, 35, 1);
  --table-header-border: var(--background-primary);
  --border-color-base: var(--text-color);
  --border-color-split: #1c2e2f;
  --text-color: #9aacb9;
  --text-color-secondary: rgba(154, 172, 185, 0.75);
  --text-color-inverse: #fff;
  --text-color-inverse-fade: rgba(0, 0, 0, 0.5);
  --icon-color: var(--text-color);
  --icon-color-hover: rgba(78, 93, 106, 0.75);
  --heading-color: rgba(255, 255, 255, 0.85);
  --disabled-color: rgba(78, 93, 106, 0.5);
  --background-color-light: var(--background-primary);
  --background-color-base: var(--background-secondary);
  --disabled-bg: var(--background-color-base);
  --disabled-color-dark: rgba(255, 255, 255, 0.35);
  --radio-disabled-button-checked-bg: #e6e6e6;
  --radio-dot-disabled-color: rgba(78, 93, 106, 0.2);
  --input-icon-hover-color: rgba(0, 0, 0, 0.85);
  --modal-mask-bg: rgba(78, 93, 106, 0.45);
  --modal-mask-fade: rgba(78, 93, 106, 0.1);
  --switch-shadow-color: rgba(0, 35, 11, 0.2);
  --steps-nav-arrow-color: rgba(255, 255, 255, 0.25);
  --shade-40-text-color-secondary: rgba(0, 0, 0, 0.67);
  --picker-cell-color: var(--text-color);
  --picker-bg: var(--background-secondary);
  --picker-panel-bg: var(--background-secondary);
  --picker-basic-cell-active-with-range-color: rgba(62, 130, 255, 0.1);
  --picker-basic-cell-hover-with-range-color: rgba(62, 130, 255, 0.15);
  --picker-header-button: var(--heading-color);
  --picker-header-button-main: var(--heading-color);
  --picker-content-th: var(--heading-color);
  --menu-item-active-bg: var(--background-secondary);
  --modal-content-bg: var(--background-secondary);
  --message-notice-content-bg: var(--background-secondary);
  --message-text-color: var(--heading-color);
  --notification-bg: var(--background-secondary);
  --popover-background: var(--background-secondary);
  --drawer-bg: var(--background-secondary);
  --tooltip-bg: rgba(78, 93, 106, 0.95);
  --tooltip-color: var(--heading-color);
  --scroll-thumb-color: var(--text-color);
  --scroll-bg: var(--background-primary);
  --btn-default-color: var(--heading-color);
  --process-tail-color: var(--border-color-base);
  --skeleton-color: var(--text-color);
  --skeleton-to-color: #121c1d;
  --divider-color: rgba(255, 255, 255, 0.06);
  --checkbox-color: var(--accent);
  --input-number-handler-border-color: var(--text-color);
  --sbmenu-border: var(--background-secondary);
  --draggable-background-1: var(--background-primary);
  --draggable-background-2: var(--background-secondary);
  --checkbox-disabled: rgba(0, 0, 0, 0.25);
  --empty-img-simple-ellipse: var(--accent);
  --empty-img-simple-g: var(--accent);
  --empty-img-simple-path: var(--background-primary);
  --content-header-background: rgba(19, 29, 30, 0.5);
  --table-cell-fixed-shadow: rgba(78, 93, 106, 0.5);
  --notification-unread: var(--heading-color);
  --notification-read: var(--text-color);
  --notification-item-background: var(--background-primary);
  --inverted-border: var(--background-primary);
  --drawer-bg-inverted: var(--background-primary);
  --item-hover-bg: var(--picker-basic-cell-active-with-range-color);
  --popover-background-alpha: rgba(19, 29, 30, 0.9);
  --menu-item-active-bg-blur: rgba(22, 33, 35, 0.8);
  --seat-background: var(--background-secondary);
  --seat-booked-color: var(--heading-color);
  --high-five-bg: var(--background-secondary);
  --high-five-shadow: var(--text-color-secondary);
  --input-placeholder-color: var(--text-color);
  --chart-grid-color: rgba(197, 206, 224, 0.06);
  --chart-text-color: var(--text-color);
  --chart-tooltip-bg: rgba(22, 33, 35, 0.95);
  --login-shadow: rgba(0, 0, 0, 0);
  --descriptions-item-label: var(--background-primary);
  .ant-list-bordered {
    border: 1px solid var(--border-color-split) !important;
    border-radius: 4px;
  }
}
