.Applied-Theme-Light {
  --accent: #3e82ff;
  --accent35: rgba(62, 130, 255, 0.35);
  --accent2: rgba(62, 130, 255, 0.2);
  --border: #f0f0f0;
  --foreground: white;
  --background-primary: #ffffff;
  --background-secondary: #f7f8fa;
  --table-header-border: #f0f0f0;
  --border-color-base: #d9d9d9;
  --border-color-split: #f0f0f0;
  --picker-cell-color: rgba(0, 0, 0, 0.25);
  --picker-bg: var(--background-primary);
  --picker-basic-cell-active-with-range-color: #f0f8ff;
  --picker-basic-cell-hover-with-range-color: #f1f6ff;
  --picker-panel-bg: var(--background-primary);
  --picker-header-button: rgba(0, 0, 0, 0.25);
  --picker-header-button-main: var(--text-color);
  --disabled-color: rgba(0, 0, 0, 0.25);
  --item-hover-bg: #f5f5f5;
  --text-color: rgba(0, 0, 0, 0.85);
  --text-color-secondary: rgba(0, 0, 0, 0.65);
  --text-color-inverse: #fff;
  --text-color-inverse-fade: rgba(255, 255, 255, 0.5);
  --icon-color: inherit;
  --icon-color-hover: rgba(0, 0, 0, 0.75);
  --heading-color: #000;
  --menu-item-active-bg: #f0f8ff;
  --message-text-color: var(--text-color);
  --notification-bg: var(--background-primary);
  --popover-background: var(--background-primary);
  --drawer-bg: var(--background-primary);
  --tooltip-bg: rgba(0, 0, 0, 0.75);
  --tooltip-color: #fff;
  --process-tail-color: var(--border-color-split);
  --background-color-light: var(--background-primary);
  --background-color-base: var(--background-secondary);
  --disabled-bg: var(--background-color-base);
  --disabled-color-dark: rgba(255, 255, 255, 0.35);
  --radio-disabled-button-checked-bg: #e6e6e6;
  --radio-dot-disabled-color: rgba(0, 0, 0, 0.2);
  --input-icon-hover-color: rgba(0, 0, 0, 0.85);
  --modal-mask-bg: rgba(32, 41, 50, 0.75);
  --modal-mask-fade: rgba(32, 41, 50, 0.1);
  --modal-content-bg: var(--background-primary);
  --switch-shadow-color: rgba(0, 35, 11, 0.2);
  --message-notice-content-bg: var(--background-primary);
  --steps-nav-arrow-color: rgba(0, 0, 0, 0.25);
  --shade-40-text-color-secondary: rgba(0, 0, 0, 0.67);
  --scroll-thumb-color: #999;
  --scroll-bg: #fff;
  --btn-default-color: var(--text-color);
  --skeleton-color: #f2f2f2;
  --skeleton-to-color: #e6e6e6;
  --divider-color: rgba(0, 0, 0, 0.06);
  --checkbox-color: var(--accent);
  --input-number-handler-border-color: var(--border-color-base);
  --sbmenu-border: var(--border);
  --draggable-background-1: var(--background-secondary);
  --draggable-background-2: var(--background-primary);
  --checkbox-disabled: rgba(0, 0, 0, 0.25);
  --empty-img-simple-ellipse: #f5f5f5;
  --empty-img-simple-g: #d9d9d9;
  --empty-img-simple-path: #fafafa;
  --content-header-background: rgba(255, 255, 255, 0.5);
  --table-cell-fixed-shadow: rgba(32, 41, 50, 0.15);
  --notification-unread: rgba(0, 0, 0, 0.65);
  --notification-read: rgba(0, 0, 0, 0.45);

  /*Others*/
  --notification-item-background: var(--background-secondary);
  --drawer-bg-inverted: var(--background-secondary);
  --popover-background-alpha: rgba(255, 255, 255, 1);
  --seat-background: #f4f6fc;
  --seat-booked-color: var(--text-color-secondary);
  --high-five-bg: #f0faff;
  --high-five-shadow: #cbebe1;
  --input-placeholder-color: #bfbfbf;
  --picker-content-th: var(--text-color);
  --chart-grid-color: rgba(197, 206, 224, 0.41);
  --chart-text-color: #757c8a;
  --chart-tooltip-bg: rgba(26, 29, 33, 0.75);
  --accent13: rgba(62, 130, 255, 0.13);
  --login-shadow: var(--accent13);
  --descriptions-item-label: var(--background-secondary);
}
